bin.ant*
bin
data
beta
steam
servers
modlauncher.jar
patcher.jar
mods/*/*.jar
demo/*/*.jar
dist/*.zip
lib
modlauncher.zip
build.properties
target
.project
.classpath
.checkstyle
.settings
pom.xml.versionsBackup
*~
.*.swp
